body {background-color: #97E9F3}

  font-family: system-ui;
}
h2{ 
  color #97E9F3; 
}
  color: black;
  text-align: center;
img:hover{}
  






ul {
text-align: center;
list-style: inside;
  list-style-type: square;}






table, tr, td {
   border: 1px solid black;
  border-collapse: collapse; 
  padding: 10px;
}
table {width: 50%;
text-align: center; 
}
#Nav {
list-style-type: none;
width: 100%;
overflow: hidden;
position: fixed;
background-color: violet;
top: 0;
margin: 0;
left: 0;
}

li a { 
  display: block;
  float: left;
  padding: 10px 25px;
  color: purple;
  text-align: center;
}

li a:hover {
  background-color: cyan; 
  color: black;
}
