<head>
  <link rel="stylesheet" href="style.css">
</head>
body {
  font-family: system-ui;
}
h2{ 
  background-color:pink;
}
  color: black;
  text-align: center;
img:hover{}
  






ul {
text-align: center;
list-style: inside;
  list-style-type: square;}






table, tr, td {
   border: 1px solid black;
  border-collapse: collapse; 
  padding: 10px;
}
table {width: 50%;
text-align: center; 
}
